/.settings
/.project
/.classpath
.DS_Store
/target
/trash
/.idea
/*/.idea
/*/*.iml
*.iml
*.lock
/*/bin
/*/.idea
/*/.cache
/*/.settings
/*/bin
/*/target
/*/trash
/*/.checkstyle
/*/.buildpath
/*/logs
/*/*/logs
/*/*.log
/*/.externalToolBuilders
/*/.cache
/shadowtail/build/*
dpost-web-server/jetty.xml
/*/.externalToolBuilders/Maven_Ant_Builder.launch
/*/maven-eclipse.xml
.checkstyle
/*/${env.DPOST_HOME}
/*/${digipost.home}
dpost-engine/src/main/java/META-INF
dpost-proxy/src/main/webapp/META-INF
dpost-web-server/src/main/webapp/META-INF
dpost-eksempel/src/META-INF
dpost-eksempel/build/
dpost-engine/masseutsendelse.zip
dpost-web-server/logback-access.xml
dpost-web-server/logback.xml
dpost-web-server/src/main/webapp/wro/
logs
scripts/properties
scripts/xslt/*.xml
scripts/xslt/.project
test/lib/dpost-test.jar

dpost-core/sql/liquibase.properties
dpost-helseadapter/sql/liquibase.properties
/*/.cache

.pydevproject
test/.pydevproject
test/log/*
test/src/*.class
test/table_export_fixed.txt
test/exportFnrUTV.tsv
/*/.scala_dependencies
dpost-adressesok/solr-home/address/conf/dataimport.properties

/dpost-jmx-agent/dpost-jmx-agent.jar

solr-data/
quickbuild.bat
/*/start.bat
/dpost-database/resetSchema.bat
JMXProbe.probescript
/*/generate_test_data.bat

.vagrant
scripts/scala-scripts/paminnelsesepost/sendes/*.txt
scripts/scala-scripts/paminnelsesepost/sendes/*.mbox
scripts/scala-scripts/paminnelsesepost/sendes/inserts/*.sql
scripts/scala-scripts/paminnelse_uleste_brev/sendes/*.csv
scripts/scala-scripts/paminnelse_uleste_brev/sendes/inserts/*.sql
scripts/paminnelsesepost/sendes/*.txt
scripts/paminnelsesepost/sendes/*.mbox
scripts/paminnelsesepost/sendes/inserts/*.sql

postit/public
